.ProseMirror {
  @apply flex-grow bg-paper;
  /* box-shadow: 0 0px 32px -16px var(--rlm-text-color, #261f1f); */
  outline-style: none;
  white-space: normal;
  line-height: var(--leading-body);
  font-size: var(--body);
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: theme(colors.border);
  border-radius: 16px 16px 0px 0px;
  animation: fade-in ease-out 200ms;
  word-break: break-word;
  position: relative;
  align-self: stretch;
  left: 50%;
  transform: translate(-50%);
  /* padding: 0 280px 0 72px; */
  padding: 0 72px 0 72px;
  max-width: 100%;
  width: calc(calc(280px + 72px) + calc(var(--document-width) + calc(2 * var(--document-margin))));
}

@media (max-width: 800px) {
  .ProseMirror {
    padding: 0 16px 0 72px;
    max-width: calc(calc(16px + 72px) + calc(var(--document-width) + calc(2 * var(--document-margin))));
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

p.Prosemirror-placeholder:before {
  cursor: text;
  position: absolute;
  content: "Start typing...";
  opacity: 0.3;
}

/*

header h1.Prosemirror-placeholder:before {
  cursor: text;
  position: absolute;
  content: "Title";
  opacity: 0.3;
}

header p.Prosemirror-placeholder:before {
  cursor: text;
  position: absolute;
  content: "description";
  opacity: 0.5;
}

.Prosemirror-config dl,
.Prosemirror-config label {
  display: none;
}

*/

.ProseMirror-selectednode {
  outline: 2px solid rgba(var(--rlm-text-rgba, 51, 51, 51));
  outline-offset: 2px;
}

.ProseMirror .found-text {
  
  background-color: rgba(var(--rlm-accent-rgba, 78, 158, 253));
}
