.ProseMirror {
  @apply flex-grow;
  /* box-shadow: 0 0px 32px -16px var(--rlm-text-color, #261f1f); */
  outline-style: none;
  white-space: normal;
  line-height: var(--leading-body);
  font-size: var(--body);
  /* max-width: 100%; */
  animation: fade-in ease-out 200ms;
  word-break: break-word;
  position: relative;
  align-self: stretch;
  left: 50%;
  transform: translate(-50%);
}

.ProseMirror {
  padding: 0 280px 0 72px;
  max-width: calc(calc(280px + 72px) + calc(var(--document-width) + calc(2 * var(--document-margin))));
}

@media (max-width: 800px) {
  .ProseMirror {
    padding: 0 16px 0 72px;
    max-width: calc(calc(16px + 72px) + calc(var(--document-width) + calc(2 * var(--document-margin))));
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

p.Prosemirror-placeholder:before {
  cursor: text;
  position: absolute;
  content: "Start typing...";
  opacity: 0.3;
}

/*

header h1.Prosemirror-placeholder:before {
  cursor: text;
  position: absolute;
  content: "Title";
  opacity: 0.3;
}

header p.Prosemirror-placeholder:before {
  cursor: text;
  position: absolute;
  content: "description";
  opacity: 0.5;
}

.Prosemirror-config dl,
.Prosemirror-config label {
  display: none;
}

*/

.ProseMirror-selectednode {
  outline: 2px solid var(--type-color);
  outline-offset: 2px;
}
