/* Styles for strictly within the document */

/* Element Styles */
p,
h1,
h2,
h3,
ul,
ol,
img {
  margin-top: var(--margin-before);
  margin-bottom: var(--margin-after);
}

li {
  margin-bottom: var(--margin-after);
}

/* Nodes */
p {
  font-family: var(--body-font-family);
  line-height: var(--leading-body);
}

h1,h2,h3 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-weight);
  line-height: var(--leading-heading);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

blockquote {
  @apply px-5;
  border-left: 1px solid var(--type-color);
  margin-left: 0;
  margin-right: 0;
}

pre {
  @apply px-4 py-5 rounded-1;
  font-family: JetBrains Mono, monospace;
  background-color: var(--type-glass-color);
  margin: 0;
}

hr {
  margin: var(--margin-before) 0;
  border-top: 1px solid var(--type-color);
}

/* List Nodes */

ul {
  list-style-type: disc;
  padding-left: 32px;
  padding-right: 32px;
}

ol {
  list-style-type: decimal;
  padding-left: 32px;
  padding-right: 32px;
}

ul[data-type="checklist"] { /* Checklist */
  list-style-type: none;
}

li[data-type="checklist"] {
  position: relative;
}

li[data-type="checklist"] label {
  position: absolute;
  left: -24px;
}

/* Figures */
figcaption {
  font-size: var(--footer);
  text-align: center;
}

/* Marks */
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

code {
  @apply px-2 rounded-1;
  font-family: JetBrains Mono, monospace;
  background-color: var(--type-glass-color);
}

a {
  color: var(--status-primary-color);
  text-decoration: underline;
}

/* Header */
header {
  padding-bottom: calc(var(--title) / 2);
}

header * {
  margin-top: 0;
  margin-bottom: 0;
}

header h1 {
  position: relative;
  font-size: var(--title);
}

header p {
  opacity: 0.6;
}

/* Menus */
.sidemenu {
  @apply gap-2 px-2;
  position: absolute;
  display: flex;
  left: calc(-32px - 8px - 12px);
  width: calc(32px + 8px + 12px);
  margin: 0;
  padding: 0;
}

.sidemenu > li {
  @apply p-1 rounded-2;
  vertical-align: center;
  text-align: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.sidemenu li:hover {
  background-color: var(--type-glass-color);
}

.highlightmenu {
  @apply rounded-2;
  overflow: hidden;
  background: var(--paper-color);
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 0 4px 2px var(--type-glass-color);
}

.highlightmenu li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.highlightmenu li:hover {
  background-color: var(--type-glass-color);
}

.slashmenu {
  @apply rounded-2;
  overflow: hidden;
  background: var(--paper-color);
  position: absolute;
  display: flex-col;
  box-shadow: 0 0 4px 2px var(--type-glass-color);
}
.slashmenu > div {
  cursor: pointer;
}
.slashmenu > div:hover {
  background-color: var(--type-glass-color);
}

/* Config */

dl li {
  list-style-type: none;
  padding: 0;
}

dt {
  width: calc(var(--document-width) / 2);
  font-family: "IBM Plex Mono", monospace;
  display: inline-block;
  cursor: pointer;
}
dt:after {
  content: ":"
}

dd {
  display: inline-block;
}

dd input {
  width: calc(var(--document-width) / 2);
  height: 1.3em;
  font-family: "IBM Plex Mono", monospace;
  background: #ffffff00;
  outline-style: none;
  border: none;
  font-size: var(--body);
}

/* Exceptions */
li p:first-child {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--body);
  line-height: var(--h3);
}

/* Layout Styles */
#document-wrapper {
  @apply px-5 py-4;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--off-color);
  flex-flow: column nowrap;
  align-items: center;
}

main {
  @apply rounded-3;
  flex-grow: 1;
  background-color: var(--paper-color);
  font-size: var(--body);
  width: var(--document-width);
  position: relative;
  padding: var(--title) 2ch calc(var(--title) / 2);
}
