.ProseMirror {
  background-color: var(--paper-color);
  outline-style: none;
  white-space: pre-wrap;
}

main {
  background-color: var(--off-color);
}

p.Prosemirror-placeholder:before {
  cursor: text;
  position: absolute;
  content: "Start typing...";
  opacity: 0.3;
}

header h1.Prosemirror-placeholder:before {
  cursor: text;
  position: absolute;
  content: "Title";
  opacity: 0.3;
}

header p.Prosemirror-placeholder:before {
  cursor: text;
  position: absolute;
  content: "description";
  opacity: 0.5;
}

.ProseMirror-selectednode {
  outline: 2px solid var(--status-primary-color);
  outline-offset: -2px;
  background-color: var(--status-primary-glass-color);
}

.Prosemirror-config dl,
.Prosemirror-config label {
  display: none;
}

#Prosemirror-config-toggle {
  display: none;
}

.Prosemirror-config-panel {
  @apply gap-1;
  display: flex;
}

.Prosemirror-config-panel label {
  line-height: 1em;
  @apply rounded-1 p-2;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Prosemirror-config-panel label:hover {
  background-color: var(--glass-color);
}

dl.Prosemirror-config-terms {
  position: absolute;
  width: var(--document-width);
  top: calc(1em + 12px + var(--h2));
}

#Prosemirror-config-toggle:checked ~ dl.Prosemirror-config-terms {
  display: block;
}

#Prosemirror-config-toggle:checked ~ .Prosemirror-config-panel label {
  display: flex;
}

#Prosemirror-config-toggle:checked
  ~ .Prosemirror-config-panel
  #Prosemirror-config-toggler {
  background-color: var(--glass-color);
}

#Prosemirror-config-toggler {
  display: flex;
}
