/*
  f0 = 1em / 16px;
  r = 2;
  n = 3;
*/

/* Variables */
html {
  --title: 2.5198em;
  --h1: 2em;
  --h2: 1.5874em;
  --h3: 1.2599em;
  --small: 0.7937em;
  --margin-before: 1em;
  --margin-after: 0.5em;
  --frequency: 1em;
  --doc-width: 60ch;
  font-size: var(--frequency);
}

/* Element Styles */
p,
h1,
h2,
h3,
ul,
ol,
img {
  margin-top: var(--margin-before);
  margin-bottom: var(--margin-after);
}

p {
  line-height: var(--h3);
}

h1 {
  font-size: var(--h1);
  line-height: var(--h3);
}
h2 {
  font-size: var(--h2);
  line-height: var(--h3);
}
h3 {
  font-size: var(--h3);
  line-height: var(--h3);
}

small {
  font-size: var(--small);
}

blockquote {
  border-left: 1px solid #262626;
  margin-left: 0;
  margin-right: 0;
  padding-left: 32px;
  padding-right: 32px;
}

aside {
  float: right;
  width: 20ch;
  border-left: 1px solid #262626;
  margin-left: 0;
  margin-right: 0;
  padding-left: 8px;
  padding-right: 8px;
}

ul {
  padding-left: 32px;
  padding-right: 32px;
}

ol {
  padding-left: 32px;
  padding-right: 32px;
}

ul[data-type="checklist"] {
  list-style-type: none;
}

li[data-type="checklist"] {
  position: relative;
}

li[data-type="checklist"] label {
  position: absolute;
  left: -24px;
}

/* Header */
header {
  padding-top: var(--title);
  padding-bottom: calc(var(--title) / 2);
}

header * {
  margin-top: 0;
  margin-bottom: 0;
}

header h1 {
  position: relative;
  font-size: var(--title);
}

header p {
  opacity: 0.6;
}

/* Menus */
.sidemenu {
  @apply gap-2 px-2;
  position: absolute;
  display: flex;
  left: calc(-32px - 8px - 12px);
  width: calc(32px + 8px + 12px);
  margin: 0;
  padding: 0;
}

.sidemenu > div {
  @apply p-1 rounded-2;
  vertical-align: center;
  text-align: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.sidemenu div:hover {
  background-color: #47474733;
}

.highlightmenu {
  @apply rounded-2;
  overflow: hidden;
  background: #fbfbfb;
  position: absolute;
  display: flex;
  box-shadow: 0 0 4px 2px #47474722;
}

.highlightmenu > div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.highlightmenu > div:hover {
  background-color: #47474733;
}

/* Config */

input {
  font-family: monospace;
  outline-style: none;
  border: none;
  min-width: 0;
  font-size: var(--frequency);
}

dl li {
  list-style-type: none;
  padding: 0;
}
dt {
  display: inline-block;
  width: 5ch;
}
dd {
  display: inline-block;
  margin-left: 0;
}

/* Exceptions */
li p:first-child {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--frequency);
  line-height: var(--h3);
}

/* Layout Styles */
#document {
  font-size: var(--frequency);
  width: var(--doc-width);
  margin: auto;
  flex-flow: column nowrap;
}
