@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

#app {
  @apply flex text-body font-app;
  width: 100vw;
  height: 100vh;
  background-color: var(--off-color);
  @apply dark:bg-slate-700 duration-1000;
  
}

#body {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
}

nav {
  /* width: 240px; */
}

#toolbar {
  @apply p-3;

}

.context-menu {
  @apply rounded-2 shadow-menu;
  overflow: hidden;
  z-index: 2;
  background-color: var(--paper-color);
}

.context-menu li {
  @apply px-3 py-2;
  display: flex;
  align-items: center;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.context-menu .icon {
  @apply flex items-center justify-center rounded-2;
  width: var(--leading-body);
  height: var(--leading-body);
}

.context-menu.select .icon:hover {
  background-color: var(--type-glass-color);
  cursor: pointer;
}

.context-menu.select li:hover {
  background-color: var(--type-glass-color);
  cursor: pointer;
}

.context-menu input {
  @apply rounded-1 p-3;
  background-color: #ffffff00;
  outline: none;
}

.context-menu input[type="color"] {
  padding: 0;
}

.context-menu input:hover {
  background-color: var(--type-glass-color);
  outline: none;
}
