@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

#app {
  @apply flex text-body;
  /* width: 100vw; */
  height: 100vh;
  background-color: var(--off-color);
}

#workspace {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
}

#toolbar {
  @apply flex items-center px-4 py-3;
}

#sidebar {
  @apply flex flex-col overflow-hidden;
  z-index: 1;
  width: 18vw;
  min-width: 280px;
}

@media (max-width: 800px) {
  #sidebar {
    @apply absolute rounded-3 shadow-menu;
    background-color: var(--paper-color);
    top: calc(28px + var(--leading-body));
    left: 16px;
    max-height: calc(100vh - calc(20px + var(--leading-body)));
  }
}
