

/* Element Styles */
p,
h1,
h2,
h3,
ul,
ol,
img {
  margin-top: var(--margin-before);
  margin-bottom: var(--margin-after);
}

/* Nodes */
p {
  line-height: var(--leading-body);
}

h1 {
  font-size: var(--h1);
  line-height: var(--leading-heading);
}
h2 {
  font-size: var(--h2);
  line-height: var(--leading-heading);
}
h3 {
  font-size: var(--h3);
  line-height: var(--leading-heading);
}

small {
  font-size: var(--small);
  line-height: var(--leading-body);
}

blockquote {
  border-left: 1px solid #262626;
  margin-left: 0;
  margin-right: 0;
  padding-left: 32px;
  padding-right: 32px;
}

pre {
  font-family: JetBrains Mono, monospace;
  @apply rounded-1;
  background-color: var(--type-glass-color);
  margin: 0;
  padding: 16px 32px;
}

aside {
  float: right;
  width: 20ch;
  border-left: 1px solid #262626;
  margin-left: 0;
  margin-right: 0;
  padding-left: 8px;
  padding-right: 8px;
}

hr {
  margin: var(--margin-before) 0;
  border-top: 2px solid var(--type-glass-color);
}

/* List Nodes */

ul {
  padding-left: 32px;
  padding-right: 32px;
}

ol {
  padding-left: 32px;
  padding-right: 32px;
}

ul[data-type="checklist"] {
  list-style-type: none;
}

li[data-type="checklist"] {
  position: relative;
}

li[data-type="checklist"] label {
  position: absolute;
  left: -24px;
}

/* Figures */
figcaption {
  font-size: var(--footer);
  text-align: center;
}

/* Marks */
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

code {
  @apply px-2 rounded-1;
  background-color: var(--type-glass-color);
  font-family: JetBrains Mono, monospace;
}

a {
  color: var(--status-primary-color);
  text-decoration: underline;
}

/* Header */
header {
  padding-top: var(--title);
  padding-bottom: calc(var(--title) / 2);
}

header * {
  margin-top: 0;
  margin-bottom: 0;
}

header h1 {
  position: relative;
  font-size: var(--title);
}

header p {
  opacity: 0.6;
}

/* Menus */
.sidemenu {
  @apply gap-2 px-2;
  position: absolute;
  display: flex;
  left: calc(-32px - 8px - 12px);
  width: calc(32px + 8px + 12px);
  margin: 0;
  padding: 0;
}

.sidemenu > li {
  @apply p-1 rounded-2;
  vertical-align: center;
  text-align: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.sidemenu li:hover {
  background-color: #47474733;
}

.highlightmenu {
  @apply rounded-2;
  overflow: hidden;
  background: #fbfbfb;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 0 4px 2px #47474722;
}

.highlightmenu li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.highlightmenu li:hover {
  background-color: #47474733;
}

.slashmenu {
  @apply rounded-2;
  overflow: hidden;
  background: #fbfbfb;
  position: absolute;
  display: flex-col;
  box-shadow: 0 0 4px 2px #47474722;
}
.slashmenu > div {
  cursor: pointer;
}
.slashmenu > div:hover {
  background-color: #47474733;
}

/* Config */

input {
  font-family: monospace;
  outline-style: none;
  border: none;
  min-width: 0;
  font-size: var(--body);
}

dl li {
  list-style-type: none;
  padding: 0;
}

dt {
  display: inline-block;
}
dd {
  display: inline-block;
  margin-left: 0;
}

/* Exceptions */
li p:first-child {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--body);
  line-height: var(--h3);
}

/* Layout Styles */
#document {
  font-size: var(--body);
  width: var(--document-width);
  margin: auto;
  flex-flow: column nowrap;
}
