/* UI */
.clickable {
  @apply cursor-pointer;
}

.clickable:hover {
  @apply bg-border;
}

/* Icons */
.icon {
  @apply p-1 rounded-1;
  width: calc(theme(lineHeight.base) + 2 * theme(spacing.1));
  height: calc(theme(lineHeight.base) + 2 * theme(spacing.1));
}

/* Scrollbars */

.scrollbar-small::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-small::-webkit-scrollbar-track {
  @apply rounded-3 bg-border;
}
.scrollbar-small::-webkit-scrollbar-thumb {
  @apply rounded-3 bg-type;
}
